# Sucide Data Set

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib  import  style

In [3]:
data=pd.read_csv('master.csv')

In [4]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gpy,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

# Rows and Columns

In [5]:
data.shape
print(f"Rows or sample :",data.shape[0])
print(f"Columns or features :",data.shape[1])

Rows or sample : 27820
Columns or features : 12

# Checking the NAN values

In [6]:
data.isnull().sum()

country                  0
year                     0
sex                      0
age                      0
suicides_no              0
population               0
suicides/100k pop        0
country-year             0
HDI for year         19456
 gpy                     0
gdp_per_capita           0
generation               0
dtype: int64

# Clean Data

In [7]:
data.fillna(method='backfill',inplace=True)

# Identifies of columns

In [8]:
columns= data.columns
# columns
print("------------------------")
print("Columns of The data Set")
print("------------------------")
for i in columns:
    print("-" , i)

------------------------
Columns of The data Set
------------------------
- country
- year
- sex
- age
- suicides_no
- population
- suicides/100k pop
- country-year
- HDI for year
-  gpy
- gdp_per_capita
- generation

# Name of Attempted Suicides Coutries

In [9]:
countries=data.country.unique()
print("-----------------------------------")
print("Name of Attempted Suicides Coutries")
print("-----------------------------------")

for i in countries:
    print("-",i,end="|")

-----------------------------------
Name of Attempted Suicides Coutries
-----------------------------------
- Albania|- Antigua and Barbuda|- Argentina|- Armenia|- Aruba|- Australia|- Austria|- Azerbaijan|- Bahamas|- Bahrain|- Barbados|- Belarus|- Belgium|- Belize|- Bosnia and Herzegovina|- Brazil|- Bulgaria|- Cabo Verde|- Canada|- Chile|- Colombia|- Costa Rica|- Croatia|- Cuba|- Cyprus|- Czech Republic|- Denmark|- Dominica|- Ecuador|- El Salvador|- Estonia|- Fiji|- Finland|- France|- Georgia|- Germany|- Greece|- Grenada|- Guatemala|- Guyana|- Hungary|- Iceland|- Ireland|- Israel|- Italy|- Jamaica|- Japan|- Kazakhstan|- Kiribati|- Kuwait|- Kyrgyzstan|- Latvia|- Lithuania|- Luxembourg|- Macau|- Maldives|- Malta|- Mauritius|- Mexico|- Mongolia|- Montenegro|- Netherlands|- New Zealand|- Nicaragua|- Norway|- Oman|- Panama|- Paraguay|- Philippines|- Poland|- Portugal|- Puerto Rico|- Qatar|- Republic of Korea|- Romania|- Russian Federation|- Saint Kitts and Nevis|- Saint Lucia|- Saint Vincent and Grenadines|- San Marino|- Serbia|- Seychelles|- Singapore|- Slovakia|- Slovenia|- South Africa|- Spain|- Sri Lanka|- Suriname|- Sweden|- Switzerland|- Thailand|- Trinidad and Tobago|- Turkey|- Turkmenistan|- Ukraine|- United Arab Emirates|- United Kingdom|- United States|- Uruguay|- Uzbekistan|

# Suicides ages M & F

In [10]:
age=data.age.unique()
print("------------------------------")
print("Suicides Years Male and female")
print("------------------------------")
for i in age:
    print("-",i)

------------------------------
Suicides Years Male and female
------------------------------
- 15-24 years
- 35-54 years
- 75+ years
- 25-34 years
- 55-74 years
- 5-14 years

# Total no of suicides attempted in countries

In [11]:
print("---------------------------------")
print("Total no of suicides in countries")
print("---------------------------------")
suicides_no=data.suicides_no.sum()
print("Total Suicides : " , suicides_no)

---------------------------------
Total no of suicides in countries
---------------------------------
Total Suicides :  6748420

# Updates years of Suicides

In [12]:
years=data.year.unique()
for i in years:
    print(i, end=" |")

1987 |1988 |1989 |1992 |1993 |1994 |1995 |1996 |1997 |1998 |1999 |2000 |2001 |2002 |2003 |2004 |2005 |2006 |2007 |2008 |2009 |2010 |1985 |1986 |1990 |1991 |2012 |2013 |2014 |2015 |2011 |2016 |

# describe All statistics Values

In [13]:
data.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita
count,27820.000000,27820.000000,2.782000e+04,27820.000000,27820.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.761989,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.092025,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.692000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.764000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.837000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

# Information About Dataset

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country              27820 non-null object
year                 27820 non-null int64
sex                  27820 non-null object
age                  27820 non-null object
suicides_no          27820 non-null int64
population           27820 non-null int64
suicides/100k pop    27820 non-null float64
country-year         27820 non-null object
HDI for year         27820 non-null float64
 gpy                 27820 non-null object
gdp_per_capita       27820 non-null int64
generation           27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

# Sucide attempt 1987 to 2016 Overall
 - visualize by Graph

In [ ]:
year=data.year
sucicedes=data.suicides_no
plt.figure(figsize=(12,5))
plt.bar(year,sucicedes,label="Suicides Attemps",color='m') 
plt.xlabel("Suicided Years")
plt.ylabel("Number of Attempted Suicides")
style.use('ggplot')
plt.legend()
plt.title("Suicides Attempt from 1987 to 2016 ")

# Overall Countries Who tend to commit suicide more? Teens? Adults? elders?

In [ ]:
Sui_ages=data.age
sucicedes=data.suicides_no
plt.figure(figsize=(12,5))
plt.bar(Sui_ages,sucicedes,label="Suicides Attemps",color='cornflowerblue') 
plt.xlabel("Suicided Years")
plt.ylabel("Number of Attempted Suicides")
style.use('ggplot')
plt.legend()
plt.title("Suicides Attempt from 1987 to 2016 ")

# Overall Number of Suicide male and female

In [ ]:
plt.figure(figsize=(12,5))
sex=data.groupby(["sex"]).get_group('male')
male=sex.suicides_no.sum()
sex=data.groupby(["sex"]).get_group('female')
female=sex.suicides_no.sum()
plt.bar(["male",'female'],[male,female])

plt.title("Number Of Suicides between Male and Female",fontsize=17)
plt.xlabel("Male and Female",fontsize=15)
plt.ylabel("Number Of Suicides",fontsize=15)

# Visualize -  Number of Suicides - [ Selected Country ] - (Overall)

- Entered Years and Country,Number of suicides in each year will displayed by graph

In [ ]:
# --------------------------------------------------------------------------------------------------------------
                                                    #for Countries
# --------------------------------------------------------------------------------------------------------------
countriess=data.country.unique()
print("-------------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tName of Attempted Suicides Countries")
print("-------------------------------------------------------------------------------------------------------------------")

for i in countriess:
    print(i,end=" --- ")

print("\n")

    
countries=input("Enter a Country name :  ")


print("\n")

# # --------------------------------------------------------------------------------------------------------------
#                                                         #for years
# # --------------------------------------------------------------------------------------------------------------
print("-----------------------------------------------------------------------------------------------------------------")
print(" \t\t\t\t\tYears of the Counties")
print("-----------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tSelect the years of the Counntries to Start and End years")
print("-----------------------------------------------------------------------------------------------------------------")
info=data[(data.country==countries)]['year'].unique()
for i in info:
    print(i,end=' | ')

print("\n")

Start_year=int(input("\nEnter a Start Year , From Where You Want's :  "))
End_year=int(input("Enter an End year , From Where You End's : "))


print("\n")


# # --------------------------------------------------------------------------------------------------------------
#                                                         # Condition
# # --------------------------------------------------------------------------------------------------------------

detail=data[(data.country==countries) & ((data.year>=Start_year) & (data.year<=End_year)) & (data.suicides_no>=0)]
year=detail.year
no_suicide=detail.suicides_no

# # ----------------------------------------------------------------------------------------------------------------
#                                                         #Graph
# # ----------------------------------------------------------------------------------------------------------------

plt.figure(figsize=(15,5))
plt.title(f"No Of Suicides {countries} in Selected Years",fontsize=20)
plt.xlabel("Suicides Years",fontsize=15)
plt.ylabel(f"Number of Suicides in {countries}",fontsize=15)
plt.bar(year,no_suicide,color='cornflowerblue')
plt.show()

# Visualize - Number of Suicides - [ Selected Country ] - (Male / Female)
- Entered Years and Country,Number of suicides in gender Male or Female in each year will displayed by graph

In [ ]:
# --------------------------------------------------------------------------------------------------------------
                                                    #for Countries
# --------------------------------------------------------------------------------------------------------------
countriess=data.country.unique()
print("-------------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tName of Attempted Suicides Coutries")
print("-------------------------------------------------------------------------------------------------------------------")

for i in countriess:
    print(i,end=" --- ")

print("\n")

    
countries=input("Enter a Country name :  ")


print("\n")

# # --------------------------------------------------------------------------------------------------------------
#                                                         #for years
# # --------------------------------------------------------------------------------------------------------------
print("-----------------------------------------------------------------------------------------------------------------")
print(" \t\t\t\t\tYears of the Counties")
print("-----------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tSelect the years of the Counntries to Start and End years")
print("-----------------------------------------------------------------------------------------------------------------")
info=data[(data.country==countries)]['year'].unique()
for i in info:
    print(i,end=' | ')

print("\n")

Start_year=int(input("\nEnter a Start Year , From Where You Want's :  "))
End_year=int(input("Enter an End year , From Where You End's : "))
gender=input("Enter a gender : ")

print("\n")


# # --------------------------------------------------------------------------------------------------------------
#                                                         # Condition
# # --------------------------------------------------------------------------------------------------------------

detail=data[(data.country==countries) & ((data.year>=Start_year) & (data.year<=End_year)) & (data.suicides_no>=0) & (data.sex==gender)]
year=detail.year
no_suicide=detail.suicides_no

if gender=='male':
    plt.figure(figsize=(15,5))
    plt.title("Number of Suicide A/c to Gender - Male and Female\n",fontsize=20)
    plt.xlabel(f"Male-Sucides Attempt {countries} Selected Year",fontsize=15)
    plt.ylabel("Number of Suicides",fontsize=15)
    plt.bar(year,no_suicide,label="Male",width=0.8)
    plt.legend(fontsize=15)
else:
    plt.figure(figsize=(15,5))
    plt.title(f"Number of Suicide A/c to Gender - Male and Female in {countries}",fontsize=20)
    plt.xlabel(f"Female-Sucides Attempt in {countries} Selected Year",fontsize=15)
    plt.ylabel("Number of Suicides",fontsize=15)
    plt.bar(year,no_suicide,label='Female',width=0.8)
    
    plt.legend(fontsize=15)

# Visualize - Number of Suicides - [ Selected Ages] - (Male / Female)
- Entered Years and Country,Number of suicides in gender Male or Female ages wise in each year will displayed by graph

In [ ]:
# --------------------------------------------------------------------------------------------------------------
                                                    #for Countries
# --------------------------------------------------------------------------------------------------------------
countriess=data.country.unique()
print("-------------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tName of Attempted Suicides Coutries")
print("-------------------------------------------------------------------------------------------------------------------")

for i in countriess:
    print(i,end=" --- ")

print("\n")

    
countries=input("Enter a Country name :  ")


print("\n")

# # --------------------------------------------------------------------------------------------------------------
#                                                         #for years
# # --------------------------------------------------------------------------------------------------------------
print("-----------------------------------------------------------------------------------------------------------------")
print(" \t\t\t\t\tYears of the Counties")
print("-----------------------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tSelect the years of the Counntries to Start and End years")
print("-----------------------------------------------------------------------------------------------------------------")
info=data[(data.country==countries)]['year'].unique()
for i in info:
    print(i,end=' | ')

print("\n")

Start_year=int(input("\nEnter a Start Year , From Where You Want's :  "))
End_year=int(input("Enter an End year , From Where You End's : "))
print("\n")
# # --------------------------------------------------------------------------------------------------------------
#                                                         #for Gender
# # --------------------------------------------------------------------------------------------------------------
gender=input("Enter a gender : ")

print("\n")


# # --------------------------------------------------------------------------------------------------------------
#                                                         #for Ages
# # --------------------------------------------------------------------------------------------------------------

age=data.age.unique()
print("------------------------------")
print("Suicides Years Male and female")
print("------------------------------")
for i in age:
    print("-",i)
ages=input("Enter an Ages : ")


# # --------------------------------------------------------------------------------------------------------------
#                                                         # Condition
# # --------------------------------------------------------------------------------------------------------------

detail=data[(data.country==countries) & ((data.year>=Start_year) & (data.year<=End_year)) & (data.suicides_no>=0) & (data.sex==gender) & (data.age==ages)]
year=detail.year
if ages=='5-14 years':
    if gender=='male':
        age_514=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_514,label="Male")
        plt.legend()
    else:
        age_514=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_514,label="Female")
        plt.legend()
    
    
    
elif ages=='15-24 years':
    
    if gender=='male':
        age_1524=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_1524,label="Male")
        plt.legend()
    else:
        age_1524=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_1524,label="Female")
        plt.legend()
    
elif ages=='25-34 years':
    
    if gender=='male':
        age_2534=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_2534,label="Male")
        plt.legend()
    else:
        age_2534=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_2534,label="Female")
        plt.legend()
    
elif ages=='35-54 years':
    if gender=='male':
        age_3554=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_3554,label="Male")
        plt.legend()
    else:
        age_3554=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_3554,label="Female")
        plt.legend()
elif ages=='55-74 years':
    if gender=='male':
        age_5574=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_5574,label="Male")
        plt.legend()
    else:
        age_5574=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_5574,label="Female")
        plt.legend()
elif ages=='75+ years':
    if gender=='male':
        age_75=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_75,label="Male")
        plt.legend()
    else:
        age_5574=detail.suicides_no
        plt.figure(figsize=(15,5))
        plt.title(f"Number of Suicide in {ages}")
        plt.xlabel("Suicides Attempt years")
        plt.ylabel(f"Number of suicides in {ages}")
        plt.bar(year,age_75,label="Female")
        plt.legend()
else:
    print("Sorry ! Invalid age")

In [ ]:
#Group data by age gender of each year
da=data.groupby(['age','sex','year'])['suicides_no'].sum().unstack()
da

In [ ]:
#Total suicide number by year
Tgsdtt = da.T
Tgsdtt
Tgsdtt.ix[:,:].plot(kind='bar',stacked = True, figsize=(10,6))
plt.legend(bbox_to_anchor=(1,1), title = 'Age group')
# plt.title('Suicide number by year')
# plt.xlabel('Year')
# plt.ylabel('Suicide number')